/* Custom CSS styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 600;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #222;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin-top: 0;
  color: #fff;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 10px;
}

code {
  background-color: #444;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
  padding: 2px 4px;
  color: #fff;
}

pre {
  background-color: #444;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
  color: #fff;
  white-space: pre-wrap;
}

ul {
  padding-left: 20px;
  color: #ccc;
  margin-bottom: 10px;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Dynamic styles */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotate {
  animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Light mode */
body.light-mode {
  background-color: #f0f0f0;
}

header.light-mode {
  background-color: #ddd;
  color: #222;
}

h1.light-mode {
  color: #222;
}

main.light-mode {
  background-color: #fff;
  color: #222;
}

section.light-mode {
  background-color: #f0f0f0;
  color: #222;
}

h2.light-mode {
  color: #222;
}

p.light-mode {
  color: #777;
}

code.light-mode {
  background-color: #ddd;
  color: #222;
}

pre.light-mode {
  background-color: #ddd;
  color: #222;
}

ul.light-mode {
  color: #777;
}

footer.light-mode {
  background-color: #ddd;
  color: #222;
}

a.light-mode {
  color: #222;
}

/* Toggle button */
.toggle-button-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px #111;
}

.toggle-button-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.toggle-button.light-mode {
  background-color: #ddd; /* Change the background color in light mode */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Change the box shadow in light mode */
}

.toggle-button-icon.light-mode {
  width: 20px;
  height: 20px;
  fill: #fff;
}

/* Toggle button */
.beta-icon-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.beta-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /*background-color: #333;*/
  border-radius: 50%;
  cursor: pointer;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
}
.beta-icon-container.hide {
  opacity: 0;
  pointer-events: none;
}
.toggle-button-container.hide {
  opacity: 0;
  pointer-events: none;
}

section:hover {
  background-color: #111; /* Darker color on hover in dark mode */
}

section.light-mode:hover {
  background-color: #f5f5f5; /* Lighter color on hover in light mode */
}

.code-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #222;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button.light-mode {
  color: #f0f0f0;
  background-color: transparent;
}

.copy-button:hover {
  color: #444;
  background-color: #111;
}

.copy-button.light-mode:hover {
  color: #ddd;
  background-color: #f5f5f5;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
}

.social-links a .social-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.social-links a.light-mode .social-icon {
  fill: #222;
}
.fa-flask {
  color: #fff;
  font-size: 48px;
  animation: wobbleAnimation 1s infinite;
  margin-right: 10px;
}
.fa-flask.light-mode {
  color: #fff;
}

@keyframes wobbleAnimation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

/* Responsive styles */

@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  section {
    padding: 10px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }
  
  .fa-flask {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  main {
    max-width: 100%;
  }
  
  .fa-flask {
    font-size: 24px;
  }
}
